<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial scale=1.0">
    <title>MYOB Technical Test</title>
    <link rel="stylesheet" href="{% static 'technicaltest/css/style.css' %}"
  </head>
  <body>
    <h1>About Application</h1>
    <p>
      <ul>
        <li>App Version     :     <strong>{{meta_data.version}}</strong></li>
        <li>Description     :     <strong>{{meta_data.description}}</strong></li>
        <li>Last Commit SHA :     <strong>{{meta_data.lastcommitsha}}</strong></li>
      </ul>
    </p>
  </body>
</html>
