<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial scale=1.0">
    <title>MYOB Technical Test</title>
    <link rel="stylesheet" href="{% static 'technicaltest/css/style.css' %}"
  </head>
  <body>
    <h1>MYOB Platform Enablement Technical Test Web Application</h1>
    <p>
      <ul>
        <li><strong>Dilip Sharma</strong></li>
        <li><strong>diliplakshya@gmail.com</strong></li>
      </ul>
    </p>
    <div>
      <img src="{% static 'technicaltest/images/myob.jpg' %}" alt="MYOB" class="background_image">
    </div>
  </body>
</html>
